.wrapper {
  display: flex;
}
.arrow {
  position: absolute;
  z-index: 997;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transform: rotateY(180deg);
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url(assets/images/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  transition: all 0.5s;
}

.arrowActive {
  transform: rotateY(360deg);
}

.sidebar {
  position: absolute;
  z-index: 997;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  width: 250px;
  height: 450px;
  background-color: white;
  /* opacity: 0.5; 글자도 함깨 투명도 설정됨*/
  background-color: rgba(255, 255, 255, 0.7); /*  배경만 투명도 먹힘 */
  border-radius: 50px;
  text-align: center;
  transition: all 1s;
}

.sidebarActive {
  left: -400px;
}
.title {
  padding: 20px;
  border-bottom: 1px solid #c2c2c2;
}

.content {
  padding: 20px;
}

.myorder {
  width: 210px;
  height: 60px;
  background-color: #f1e2d1;
  margin-bottom: 10px;
  border-radius: 0.55rem;
}

.otherorder {
  width: 210px;
  height: 60px;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 0.55rem;
}

.findorderbutton {
  width: 30px;
  height: 30px
}

.input_space {
  width: 30px;
  height: 30px
}