*{
    margin: 0;
    border: 0;
    box-sizing:border-box;
    text-decoration: none;
    color: inherit;
}

.addressInput {
    width: 600px;
    height: 40px;
    border-radius: 50px;
    color: black;
    background-color: #ffffff;
    opacity: 0.5;
    box-shadow:  7px 7px 14px #d97339,
                -7px -7px 14px #ff9b4d;;
    padding: 5px 20px;
}

.addressInput:focus-visible {
    outline: #FF8743;
}

.imgBtn {
    vertical-align: middle;
    margin-left: 20px;
}

form {
    display: inline-block;
}