*{
    margin: 0;
    border: 0;
    box-sizing:border-box;
    text-decoration: none;
    color: inherit;
}
.inputWrapper{
    position: absolute;
    width: 50vw;
    margin: auto;
    z-index: 999;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);

}
.addressInput {
    width: 45vw;
    height: 40px;
    border-radius: 50px;
    color: black;
    background-color: #ffffff;
    opacity: 0.5;
    box-shadow:  7px 7px 14px #d97339,
                -7px -7px 14px #ff9b4d;;
    padding: 5px 20px;
}

.addressInput:focus-visible {
    outline: #FF8743;
}

.imgBtn {
    background-color:transparent;
    width: 30px;
    height: 30px;
    background-image: url(../../../public/img/searchIcon.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 20px;
    cursor: pointer;
}

form {
    display: inline-block;
}

.map{
    width: 100vw;
    height: 100vh;
}